body {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

#submit:hover {
    cursor: pointer;
}

.container {
    font-family: Tahoma, Geneva, sans-serif;
}

.results {
    width: fit-content;
    margin: 0 auto;
    text-align: left;
}

form {
    margin: 10px 0;
}